[Identification]
Action=InstallCAS

[Options]
ProductID=EVAL
SiteCode={{ ludus_sccm_sitecode }}
SiteName={{ ludus_sccm_sitename }}
SMSInstallDir=C:\Program Files\Microsoft Configuration Manager
SDKServer={{ effective_site_server_hostname }}.{{ ludus_domain_fqdn }}
RoleCommunicationProtocol=HTTPorHTTPS
ClientsUsePKICertificate=0
PrerequisiteComp=0
PrerequisitePath={{ ludus_sccm_win_sccm_config_default_prereq_path }}
AdminConsole=1
JoinCEIP=0

[SQLConfigOptions]
SQLServerName='{{ effective_sql_server_hostname }}.{{ ludus_domain_fqdn }}'
DatabaseName=CM_{{ ludus_sccm_sitecode }}
SQLSSBPort=4022

[CloudConnectorOptions]
CloudConnector=1
CloudConnectorServer={{ effective_scp_hostname }}.{{ ludus_domain_fqdn }}
UseProxy=0

[HierarchyExpansionOption]
CCARSiteServer={{ effective_site_server_hostname }}.{{ ludus_domain_fqdn }}
JoinPrimarySiteName={{ effective_child_site_server_hostname }}.{{ ludus_domain_fqdn }}